{% extends "other/base.html" %}{% block content %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <title>本日の実績</title>
</head>
<body>
    <h1>{{ today }}の実績</h1>
    <a href="{% url 'work:work_create' %}">仕事を追加する</a>
    <ul>
        {% for work in works %}
            <li>{{ work.start_datetime|time:"H:i" }} - {{ work.end_datetime|time:"H:i" }}: {{ work.work_name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'work:work_list_month' %}">今月の実績</a>
</body>
</html>
{% endblock content %}